body{

background:#F1F5F9;

font-family:'Segoe UI',sans-serif;

}



.sidebar-link{

display:flex;

align-items:center;

gap:15px;

text-decoration:none;

color:white;

padding:14px 18px;

border-radius:12px;

margin-bottom:12px;

transition:.3s;

font-size:17px;

}

.form-control::placeholder{
    color:#cbd5e1 !important;
    opacity:1;
}

.sidebar-link:hover{

background:#1E293B;

color:#38BDF8;

transform:translateX(5px);

}

.navbar input:focus{

box-shadow:none !important;

background:transparent;

}

.sidebar-link.active{

background:#2563EB;

color:white;

font-weight:600;

box-shadow:0 5px 15px rgba(37,99,235,.4);

}
.modal-content{
    background:#273449 !important;
    color:white;
}

.modal-header,
.modal-footer{
    border-color:#475569 !important;
}

.modal-content .form-control,
.modal-content .form-select{
    background:#1e293b !important;
    color:white !important;
    border:1px solid #475569 !important;
}

.modal-content .form-control::placeholder{
    color:#cbd5e1 !important;
    opacity:1;
}

.modal-content .form-control:focus,
.modal-content .form-select:focus{
    background:#1e293b !important;
    color:white !important;
    border-color:#6366f1 !important;
    box-shadow:none !important;
}
.modal-content input::placeholder{
    color:#cbd5e1 !important;
    opacity:1;
}

.modal-content input,
.modal-content select{
    color:white !important;
}

.modal-content option{
    background:#1e293b;
    color:white;
}